<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block head %}
    <title>Ítalo Teixeira</title>
  {% endblock %}
  
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <header>
    <div class="links">
      <a href="/">About</a>
      <a href="/portfolio">Classes</a>
    </div>
  </header>

  {% block content %}{% endblock %}

</body>
</html>