{% extends 'layout.njk' %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/8684183/500x500) no-repeat center center / cover"></section>
    <section class="details">
      <h3>Details</h3>

      <div class="item">
        <div>Name</div>
        <div>Raimundo Fagner</div>
      </div>

      <div class="item">
        <div>Age</div>
        <div>59</div>
      </div>

      <div class="item">
        <div>Educational Background</div>
        <div>Master Degree</div>
      </div>

      <div class="item">
        <div>Class Type</div>
        <div>In-class</div>
      </div>

      <div class="item">
        <div>Subjects</div>
        <div>
          <span>Math</span>
          <span>Physics</span>
        </div>
      </div>

      <div class="item">
        <div>Since</div>
        <div>16/04/2020</div>
      </div>
    </section>
  </div>
{% endblock content %}
