{% extends 'layout.njk' %}

{% block content %}
  <div class="card">
    <section class="avatar" style="background: url({{ instructor.avatar_url }}) no-repeat center center / cover"></section>
    <section class="details">
      <h3>Details</h3>

      <div class="item">
        <div>Instructor</div>
        <div>{{ instructor.name }}</div>
      </div>

      <div class="item">
        <div>Age</div>
        <div>{{ instructor.age }}</div>
      </div>

      <div class="item">
        <div>Genre</div>
        <div>{{ "Masculino" if instructor.gender == "M" else "Feminino" }}</div>
      </div>

      <div class="item">
        <div>Activities</div>
        <div>
          {% for service in instructor.services %}
            <span>{{ service }}</span>
          {% endfor %}
        </div>
      </div>

      <div class="item">
        <div>Member since</div>
        <div>{{ instructor.created_at }}</div>
      </div>

      <a href="edit" class="button">Editar</a>

    </section>
  </div>
{% endblock content %}
